<p class="piedPage">footer - 
    couleurFondPreferee:
      <select [(ngModel)]="couleurFondPrefereeLocale"
          (ngModelChange)="onCouleurFondPrefereeLocaleChange()" >
          <option *ngFor="let c of listeCouleurs" [ngValue]="c">
                  {{c}}</option>
      </select>

      humeur:
      <select [(ngModel)]="humeur"
          (ngModelChange)="onHumeurChange()" >
          <option *ngFor="let h of listeHumeurs" [ngValue]="h">
                  {{h}}</option>
      </select>
  </p>
