<p>basic works!</p>
<!--
<bsu-toggle-panel title="calculatrice">
     <app-calculatrice></app-calculatrice>
</bsu-toggle-panel>
<p></p>
<bsu-toggle-panel title="tva">
    <app-tva></app-tva>
</bsu-toggle-panel>
-->
<a routerLink="/ngr-basic/calculatrice" >calculatrice</a><br/>
<a routerLink="/ngr-basic/tva" >tva</a><br/>

<router-outlet> </router-outlet> <!-- affichera sous sous composant
                                      selon fin d'url (route)-->

<tabset>
    <!--
     <tab heading="calculatrice">
        <app-calculatrice></app-calculatrice>
    </tab>
    <tab heading="tva">
        <app-tva></app-tva>
    </tab>
   -->
    <tab heading="xy">
        <app-xy></app-xy>
    </tab>
    <tab heading="zz">
        <app-zz></app-zz>
    </tab>
</tabset>
