<h3>conversion de devise</h3>
montant : <input name="montant" [(ngModel)]="montant" /> <br/>
code devise source : <select name="codeDevSource" [(ngModel)]="codeDeviseSource" >
    <option *ngFor="let d of listeDevises" [ngValue]="d.code">{{d.name}}</option>
</select> <br/>
code devise cible : <select name="codeDevCible" [(ngModel)]="codeDeviseCible" >
    <option *ngFor="let d of listeDevises" [ngValue]="d.code">{{d.name}}</option>
</select> <br/>
<input type="button" (click)="onConvertir()" value="convertir" /> <br/>
montantConverti = <span id="montantConverti">{{montantConverti}}</span>
<p></p>
<bsu-toggle-panel title="liste des devises">
   <table border="1">
       <tr><th>code</th><th>name</th><th>change</th></tr>
       <tr *ngFor="let d of listeDevises">
           <td>{{d.code}}</td><td>{{d.name}}</td><td>{{d.change}}</td>
        </tr>
   </table>
</bsu-toggle-panel>

